#top_left {
	margin-left: 35px; 
        width : 300px;
	float: left;
}

#top_right {
	width: 400px;
	float: right;
	margin: 17px 0px;
}

#menu {
	background-color: #1C3F09;
	border-top: 5px solid #82B211;
	text-align: center;
	padding: 8px 0px;
}

#menu a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	padding: 2px 10px;
}

#menu a:hover {
	color: #999;
}

#menu .all {
	color: yellow;
}

#search {
	background-color: #B6B684;
	text-align: right;
	padding: 7px 180px;
}

#search input[type="image"] {
	margin-bottom:-4px;
}

#search input[type="text"] {
	border: 1px solid #999;
}

.clear {
	clear: both;
}

#top_right a {
	font-size: 13px;
	color: #06F;
	text-decoration: none;
}

#top_right a:hover {
	color: #909;
}